  <main class="main-views">
    <p class="info">
        Please fill out the form below to create a job.
    </p>

    <form class="form"
          name="jobForm">
        <label for="location">Location</label>
        <select name="location"
                class="form-control"
                id="location"
                ng-selected="selected"
                data-ng-model="reportJob.formData.location"
                data-ng-options="location as location for location in reportJob.locations  | orderBy:'toString()'">
            <option value=''>Select...</option>
        </select>
        <label for="entity">Entity</label>
        <select name="location"
                id="location"
                class="form-control"
                ng-disabled="!reportJob.formData.location"
                data-ng-model="reportJob.formData.entity"
                data-ng-options="entity.company_name for entity in reportJob.entities | filter: reportJob.formData.location | filter: {deleted_at: '!'}">
            <option value=''>Select...</option>
        </select>

        <div class="ms-jobs">
            <label for="task_name">Jobs</label>
            <ui-select multiple
                       data-ng-model="reportJob.formData.tasks"
                       theme="bootstrap"
                       ng-disabled="disabled">
                <ui-select-match placeholder="Select...">{{$item.task_name}}</ui-select-match>
                <ui-select-choices repeat="task in reportJob.tasks | propsFilter: {task_name: $select.search}">
                    <div ng-bind-html="task.task_name | highlight: $select.search">
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
       <div class="datepicker">
        <label for="calender">Date</label>
          <p class="input-group">
            <input type="text"
                   class="form-control"
                   uib-datepicker-popup="{{format}}"
                   data-ng-model="reportJob.formData.date"
                   is-open="status.opened"
                   max-date="maxDate"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   ng-required="true"
                   close-text="Close"
                   ng-click="open($event)"
                   />

            <span class="input-group-btn">
              <button type="button"
                      class="btn btn-default"
                      ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
            </p>
        </div>

        <div class="form-group">
            <label for="task_desc">Description:</label>
          <textarea type="text"
                    class="form-control"
                    data-ng-model="reportJob.formData.notes"
                    name="task_desc"
                    id="task_desc">
          </textarea>

            <div class="send-button">
                <button class="btn btn-primary"
                        type="button"
                        ng-click="reportJob.createJob(reportJob.formData)"> SEND
                </button>
            </div>
        </div>
    </form>
</main>
