<div class="user-form">
    <div class="modal-header">
        <h3 class="modal-title">Add User</h3>
    </div>
    <div class="modal-body">
        <form class="form">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text"
                       class="form-control"
                       data-ng-model="userModal.user.first_name"
                       name="first_name"
                       id="first_name"/>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text"
                       data-ng-model="userModal.user.last_name"
                       class="form-control"
                       name="last_name"
                       id="last_name"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text"
                       data-ng-model="userModal.user.email"
                       class="form-control"
                       name="email"
                       id="email"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       data-ng-model="userModal.user.password"
                       class="form-control"
                       name="password"
                       id="password"/>
            </div>
            <div>
                <input  for="admin"
                        type="checkbox"
                        data-ng-model="userModal.user.admin"
                        name="admin"
                        value="Admin"
                        checked> Admin
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                type="button"
                ng-click="userModal.ok()">OK
        </button>
        <button class="btn btn-warning"
                type="button"
                ng-click="userModal.cancel()">Cancel
        </button>
    </div>
</div>
