<div class="entity-form">

  <!--***** Modal Header *****-->
  <div class="modal-header">
    <h3>Edit Company Info</h3>
  </div>

  <!--***** Modal Body *****-->
  <div class="modal-body">
    <form action="" class="form">
      <div class="form-group">
        <label for="company_name">Company Name</label>
        <input type="text"
               class="form-control"
               data-ng-model="entityModal.entity.company_name"
               name="company_name">

       <label for="company_name">Company Phone</label>
       <input type="text"
              class="form-control"
              data-ng-model="entityModal.entity.company_phone"
              name="company_phone">

       <label for="company_name">Company Email</label>
       <input type="text"
             class="form-control"
             data-ng-model="entityModal.entity.company_email"
             name="company_email">
      </div>
    </form>
  </div>

  <!--***** Modal Footer *****-->
  <div class="modal-footer">
    <button ng-click="entityModal.ok()" class="btn btn-primary">Submit</button>
    <button ng-click="entityModal.cancel()" class="btn btn-warning">Cancel</button>
  </div>

</div>

    <!-- &lt;!&ndash;***** Modal Header *****&ndash;&gt;-->
    <!--<div class="modal-header">-->
        <!--<h3 class="modal-title">Add Entity</h3>-->
    <!--</div> -->

    <!--&lt;!&ndash;***** Modal Body *****&ndash;&gt;-->
    <!--<div class="modal-body">-->
        <!--<h1></h1>-->
        <!--<form class="form">-->
            <!--<div class="form-group">-->
                <!--<label for="company_name">Company Name</label>-->
                <!--<input type="text" -->
                       <!--class="form-control"-->
                       <!--style="text-transform:capitalize"-->
                       <!--data-ng-model="entityModal.entity.company_name"-->
                       <!--name="company_name"-->
                       <!--id="company_name"/>-->

                <!--<label for="company_phone">Company Phone</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.company_phone"-->
                       <!--name="company_phone"-->
                       <!--id="company_phone"/>-->
                       <!---->
                <!--<label for="company_email">Company Email</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.company_email"-->
                       <!--name="company_email"-->
                       <!--id="company_email"/>-->
                <!--</div>-->

            <!--<div class="form-group"> -->
                <!--<h3>Field Location</h3>-->
                <!--<label for="city">City</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--style="text-transform:capitalize"-->
                       <!--data-ng-model="entityModal.entity.location.city"-->
                      <!--uppercased-->
                       <!--name="city"-->
                       <!--id="city"/>-->
                 <!---->
            <!--<pre>{{ entityModal.entity.location.city }}</pre> -->
                <!--<label for="address">Address</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.location.address"-->
                       <!--name="address"-->
                       <!--id="address"/>-->

                <!--<label for="zip">Zip Code</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.location.zip"-->
                       <!--name="zip"-->
                       <!--id="zip"/>-->

                <!--<label for="field_id">Field ID</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.location.field_id"-->
                       <!--name="field_id"-->
                       <!--id="field_id"/>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<h3>Ownership</h3>-->
                <!--<label for="owners_first_name">First Name</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.owners.first_name"-->
                       <!--name="owners_first_name"-->
                       <!--id="owners_first_name"/>-->

                <!--<label for="owners_last_name">Last Name</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.owners.last_name"-->
                       <!--name="owners_last_name"-->
                       <!--id="owners_last_name"/>-->

                <!--<label for="owners_phone">phone</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.owners.phone"-->
                       <!--name="owners_phone"-->
                       <!--id="owners_phone"/>-->

                <!--<label for="owners_email">Email</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--data-ng-model="entityModal.entity.owners.email"-->
                       <!--name="owners_email"-->
                       <!--id="owners_email"/>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->

    <!--&lt;!&ndash;***** Modal Footer *****&ndash;&gt;-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary"-->
                <!--type="button"-->
                <!--ng-click="entityModal.ok()">OK-->
        <!--</button>-->
        <!--<button class="btn btn-warning"-->
                <!--type="button"-->
                <!--ng-click="entityModal.cancel()">Cancel-->
        <!--</button>-->
    <!--</div>-->
<!--</div> -->
